.main {
  .main-container {
    overflow: hidden;
    width: calc(100vw + 500px);
  }
  .main-not-request {
    animation: none;
    transform: translateX(-548px);
    transition: transform .5s linear;
  }
  .main-request {
    animation: request 1s ease-in !important;
    transform: translateX(-0px); 
    transition: transform 1.5s ease-out;
  }
  .main-contents {
    animation: slide-in 0.5s linear !important;
    width: calc(100vw - 24px);

    .canvas  canvas{
      opacity: 0;
      animation: appear-car 1s ease-in 0.5s forwards;
    }
  }
}