@keyframes slide-in {
  from {
    left: 110%;
  }
  
  to {
    left: 0%;
  }

}

@keyframes appear-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);

  }
  
}


@keyframes shift-down {
  0% {
    margin-top: -30px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes appear-slide-down-reverse {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0.5;
    transform: translateY(105%);
  }
  
}

@keyframes grow-v {
  from {
    height: 0%;
  }
}

@keyframes grow-h {
  from {
    width: 0%;
  }
}

@keyframes shrink-v {
  to {
    height: 0%;
  }
}

@keyframes shrink-h {
  to {
    width: 0%;
  }
}

@keyframes grow-appear  {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes grow-appear-reverse  {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(.8) translateY(-60%);
  }
}

@keyframes request  {
  0% {
    transform: rotateY(0) rotatex(0)  translateX(-548px) translateY(0) scale(1);
    transform-origin: 0% 50%;
  }
  30% {
    transform: rotateY(-10deg) rotatex(10deg)  translateX(-548px) translateY(-24px) scale(0.99);
  }
  50% {
    transform: rotateY(-10deg) rotatex(10deg)  translateX(-548px) translateY(-24px) scale(0.99);
  }
  100% {
    transform-origin: 0% 50%;
    transform: rotateY(0deg) rotatex(0deg)   translateX(0px) translateY(0) scale(1);
  }
}